# Ignore following files
*.sh
*.pyc
*~
*.sta
*.log
*.png
*.txt
*.sqlite3
*.idea
*.cmd
test*
*test
PLOTS/
plots/
PYSTAT/**
PYSTAT/
pystat/
OUT/
out/
maps/
MAPS/
figures/
FIGURES/
FIGS/
figs/
log/
LOG/
logs/
LOGS/
dbfiles/
